.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #dce4ec;
  border-radius: 3px;
  background-color: #fff;
  -moz-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #2c3e50;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #ecf0f1;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-single label {
  height: 17px;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #2c3e50;
  border-color: #2c3e50;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #3498db;
  border-color: #3498db;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f39c12;
  border-color: #f39c12;
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #18bc9c;
  border-color: #18bc9c;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #dce4ec;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0s ease-in-out;
  -moz-transition: border 0s ease-in-out;
  -o-transition: border 0s ease-in-out;
  transition: border 0s ease-in-out;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #2c3e50;
  -moz-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}
.radio.radio-single label {
  height: 17px;
}
.radio-primary input[type="radio"] + label::after {
  background-color: #2c3e50;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #2c3e50;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #2c3e50;
}
.radio-danger input[type="radio"] + label::after {
  background-color: #e74c3c;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #e74c3c;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #e74c3c;
}
.radio-info input[type="radio"] + label::after {
  background-color: #3498db;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #3498db;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #3498db;
}
.radio-warning input[type="radio"] + label::after {
  background-color: #f39c12;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f39c12;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f39c12;
}
.radio-success input[type="radio"] + label::after {
  background-color: #18bc9c;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #18bc9c;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #18bc9c;
}
table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #b4bcc2;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 21px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ecf0f1;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ecf0f1;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ecf0f1;
}
.table .table {
  background-color: #ffffff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ecf0f1;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ecf0f1;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #ecf0f1;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #ecf0f1;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #dde4e6;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #18bc9c;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #15a589;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #3498db;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #258cd1;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #f39c12;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #e08e0b;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #e74c3c;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #e43725;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15.75px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ecf0f1;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2c3e50;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #6a5acd;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #6a5acd;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 0px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #ecf0f1;
  border-radius: 0px;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 21px;
  margin-bottom: 21px;
  border: 0;
  border-top: 1px solid #ecf0f1;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
/* BASIC COLOR */
/* Main Theme Color */
/* Element Color: */
/* Font Family */
/* Font weight */
.mirror-flip {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
/* Arrow Flag  */
/* Traingle mixin for arrow button */
/* Primary */
.primary-bg,
.widget_tag_cloud .content a,
.nav-tabs > li > a,
.accordion .panel.active .panel-heading,
.accordion .panel-heading.highlight,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: #ff6347;
}
.primary-bg-hover {
  background: #ff8e7a;
}
.primary-color,
a:hover,
.blockUI.blockMsg.blockElement .spinner,
.widget_archive ul li a:hover,
.widget_archive ul li:hover:after,
.widget_categories ul li a:hover,
.widget_categories ul li:hover:after,
.side-menu ul li a:hover,
.side-menu ul li:hover:after {
  color: #ff6347;
}
.primary-color-hover {
  color: #ff8e7a;
}
.primary-border,
.accordion .panel.active .panel-heading,
.accordion .panel-heading.highlight {
  border-color: #ff6347;
}
.primary-border-hover {
  border-color: #ff3814;
}
.primary-border-bottom {
  border-bottom-color: #ff6347;
}
.primary-border-left {
  border-left-color: #ff6347;
}
/* Secondary */
.secondary-bg,
.widget_tag_cloud .content a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:active,
.nav-tabs > li > a:focus,
.accordion .panel-heading {
  background: #6a5acd;
}
.secondary-color,
a {
  color: #6a5acd;
}
.secondary-border,
.accordion .panel-heading {
  border-color: #6a5acd;
}
/* Tertiary */
.tertiary-bg,
.widget_categories_icon .content ul li:hover,
.navbar-default .navbar-nav > .active > a,
.header {
  background: #ffd700;
}
.tertiary-color,
.footer-wrapper .widget a,
.copyright-wrapper a {
  color: #ffd700;
}
/* Header BG */
/* Body BG */
.body-bg {
  background: #ffffff;
}
.wpcf7 .input-style {
  box-sizing: border-box;
  width: 100%;
}
.wpcf7 input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
}
.wpcf7 textarea {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
.wpcf7 input[type="submit"],
.wpcf7 input[type="button"],
.wpcf7 button {
  width: auto;
  padding: 0 2rem;
  margin: 0;
}
.wpcf7 input[type="submit"]:hover,
.wpcf7 input[type="button"]:hover,
.wpcf7 button:hover {
  color: #ffffff;
  background-color: #e6e6e6;
  border-color: #798d8f;
}
.wpcf7 p {
  margin-bottom: 3rem;
}
.wpcf7 .wpcf7-form p:last-of-type {
  margin-bottom: 0;
}
.wpcf7 .ajax-loader {
  width: auto;
  height: auto;
}
.wpcf7-not-valid-tip {
  white-space: nowrap;
  display: block;
  background-color: crimson;
  position: absolute;
  padding: 5px;
  bottom: -2.5rem;
  left: 0px;
  color: white;
  color: white !important;
  font-size: 12px !important;
}
/* Image
–––––––––––––––––––––––––––––––––––––––––––––––––– */
img.center {
  display: block;
  margin-right: 0;
  margin-left: 0;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
}
/* Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Font awesome */
.fa {
  font-family: FontAwesome;
}
/* Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Form 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  margin-bottom: 1rem;
}
/* Table 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 21px;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ecf0f1;
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ecf0f1;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
table > tbody + tbody {
  border-top: 2px solid #ecf0f1;
}
table .table {
  background-color: #ffffff;
}
/* Jquery Block: Spinner */
.blockUI.blockMsg.blockElement {
  background-color: transparent !important;
  border: 0 !important;
  border-color: transparent !important;
}
.blockUI.blockMsg.blockElement .spinner {
  font-size: 6rem;
}
/* WIDGET */
.widget {
  background: #ffffff;
  padding: 0 1em;
  margin: 0 0 2rem 0;
}
.widget .widget-title {
  margin-top: 0;
  margin-bottom: 2rem;
}
.social {
  list-style: none;
  padding-left: 0;
}
.social li {
  display: inline-block;
}
.social li a {
  font-size: 4rem;
  padding: 0.5rem;
}
.social li a .fa-facebook,
.social li a .fa-facebook-square {
  color: #1883d5;
}
.social li a .fa-facebook:hover,
.social li a .fa-facebook-square:hover {
  color: #1367a7;
}
.social li a .fa-twitter-square,
.social li a .fa-twitter {
  color: #21c2f8;
}
.social li a .fa-twitter-square:hover,
.social li a .fa-twitter:hover {
  color: #07a9df;
}
.social li a .fa-instagram {
  color: #2e5e86;
}
.social li a .fa-instagram:hover {
  color: #214360;
}
.social li a .fa-pinterest,
.social li a .fa-pinterest-square {
  color: #ef584d;
}
.social li a .fa-pinterest:hover,
.social li a .fa-pinterest-square:hover {
  color: #eb2c1e;
}
.social li a .fa-google-plus,
.social li a .fa-google-plus-square {
  color: #dd4b39;
}
.social li a .fa-google-plus:hover,
.social li a .fa-google-plus-square:hover {
  color: #c23321;
}
.social li a .fa-tumblr,
.social li a .fa-tumblr-square {
  color: #43698f;
}
.social li a .fa-tumblr:hover,
.social li a .fa-tumblr-square:hover {
  color: #334f6c;
}
.social li:first-of-type a {
  padding-left: 0;
}
.social li:last-of-type a {
  padding-right: 0;
}
.widget_contact_info ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.widget_contact_info ul li {
  margin-bottom: 1rem;
}
.widget_contact_info ul li label,
.widget_contact_info ul li span {
  display: block;
}
.widget_contact_info ul li label {
  margin-bottom: 0;
}
.widget_contact_info .contact-maps {
  margin-top: 2rem;
}
.widget_contact_info .contact-maps iframe {
  max-width: 100%;
  height: 300px;
}
.widget_gallery .content figure {
  display: inline-block;
  padding: 0.1rem 0.1rem;
}
.widget_gallery .content figure img {
  width: 100px;
  height: 100px;
}
.widget_accordion .accordion {
  padding: 0;
}
.widget_categories_icon {
  padding: 2rem 0;
}
.widget_categories_icon .widget-title,
.widget_categories_icon .content ul li a {
  padding: 0 2rem;
}
.widget_categories_icon .content .fa {
  position: absolute;
  right: 2rem;
  top: 1rem;
  font-size: 2rem;
  border: 1px solid;
  border-radius: 50px;
  padding: 1rem;
}
.widget_categories_icon .content ul {
  list-style: none;
  padding-left: 0;
}
.widget_categories_icon .content ul li {
  border-bottom: 1px solid #d1d1d1;
  padding: 2rem 0;
  position: relative;
}
.widget_categories_icon .content ul li:last-of-type {
  border-bottom: 0;
}
.widget_tag_cloud .content a {
  padding: 0.3rem 1rem;
  line-height: 3rem;
  color: #ffffff;
}
.widget_tag_cloud .content a:hover {
  text-decoration: none;
}
.widget_recent_posts ul {
  list-style: none;
  padding-left: 0;
}
.widget_recent_posts ul li {
  margin-bottom: 1rem;
}
.widget_recent_posts ul li:before,
.widget_recent_posts ul li:after {
  content: " ";
  display: table;
}
.widget_recent_posts ul li:after {
  clear: both;
}
.widget_recent_posts ul .featured-thumb {
  width: 25%;
  height: auto;
}
.widget_recent_posts ul .recent-title {
  width: 75%;
  height: auto;
  margin-bottom: 0;
}
.widget_recent_comments ul {
  list-style: none;
  padding-left: 0;
}
.widget_recent_comments ul li {
  margin-bottom: 1rem;
}
.widget_recent_comments ul li:before,
.widget_recent_comments ul li:after {
  content: " ";
  display: table;
}
.widget_recent_comments ul li:after {
  clear: both;
}
.widget_recent_comments ul .featured-thumb {
  width: 25%;
  height: auto;
}
.widget_recent_comments ul .featured-thumb img {
  border-radius: 50%;
}
.widget_recent_comments ul .rcomment-title {
  width: 75%;
  height: auto;
  margin-bottom: 0;
}
.widget_archive ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
.widget_archive ul li {
  border-bottom: 1px solid #d1d1d1;
  padding: 10px 0;
}
.widget_archive ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;
}
.widget_archive ul li:hover:after {
  position: absolute;
  right: 40px;
  font-family: FontAwesome;
}
.widget_archive ul li:last-child {
  border: 0;
}
.widget_categories ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
.widget_categories ul li {
  border-bottom: 1px solid #d1d1d1;
  padding: 10px 0;
}
.widget_categories ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;
}
.widget_categories ul li:hover:after {
  position: absolute;
  right: 40px;
  font-family: FontAwesome;
}
.widget_categories ul li:last-child {
  border: 0;
}
.breadcrumbs {
  background: #ffffff;
  padding: 0;
  margin: 0 0 2rem 0;
}
/* Main Pagination */
.pagination-wrapper {
  background: #ffffff;
}
.pagination-wrapper .pagination {
  margin: 0;
}
.pagination-wrapper a,
.pagination-wrapper span {
  padding: 0 0.5rem;
}
/* Custom Flexslider */
.flexslider-carousel {
  margin-bottom: 2rem;
}
.flexslider-carousel .slides > li {
  padding: 0 1rem;
}
/* Post Navigation */
.loop-nav {
  background: #ffffff;
  padding: 1.5rem;
  margin: 0;
}
.post-pagination {
  margin-top: 2rem;
}
.bottom-entry-nav .prev,
.bottom-entry-nav .next {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}
/* Tabs */
.tabbed {
  margin-bottom: 2rem;
}
.tab-content {
  padding: 1rem;
  background: #ffffff;
}
.nav-tabs {
  border: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #ffffff;
  border: 0;
}
.nav-tabs > li > a {
  border: 0;
  color: #fafafa;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:active,
.nav-tabs > li > a:focus {
  border: 0;
}
/* Accordion */
.accordion {
  background: #ffffff;
  padding: 2rem;
}
.accordion .panel {
  box-shadow: none;
}
.accordion .panel.active .panel-heading .panel-title {
  color: #ffffff;
}
.accordion .panel.active .panel-heading .panel-title .toggler {
  color: #ffffff;
}
.accordion .panel-heading {
  border-width: 1px;
  border-style: solid;
}
.accordion .panel-heading .panel-title {
  color: #ffffff;
}
.accordion .panel-default {
  border: 0;
  border-color: transparent;
}
.accordion .panel-heading {
  text-decoration: none;
}
.accordion .panel-heading a {
  text-decoration: none;
}
.accordion .panel-heading .panel-title .toggler {
  float: right;
  color: #ffffff;
}
.accordion .panel-heading.highlight .panel-title {
  color: #ffffff;
}
.accordion .panel-heading.highlight .panel-title .toggler {
  color: #ffffff;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 0;
  border: 0;
  border-color: transparent;
}
/**
 * Cleaner Gallery Stylesheet
 * @version 20130526
 */
.gallery {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0 auto;
}
.gallery-row {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0;
}
.gallery-item {
  overflow: hidden;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  border: none;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gallery-icon img {
  width: auto;
  max-width: 89%;
  height: auto;
  margin: 0 auto;
  padding: 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gallery-caption {
  margin-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Gallery item sizes depending on the number of columns */
.gallery-col-0 .gallery-item,
.gallery-col-1 .gallery-item {
  width: 100%;
}
.gallery-col-2 .gallery-item {
  width: 50%;
}
.gallery-col-3 .gallery-item {
  width: 33.33%;
}
.gallery-col-4 .gallery-item {
  width: 25%;
}
.gallery-col-5 .gallery-item {
  width: 20%;
}
.gallery-col-6 .gallery-item {
  width: 16.66%;
}
.gallery-col-7 .gallery-item {
  width: 14.28%;
}
.gallery-col-8 .gallery-item {
  width: 12.5%;
}
.gallery-col-9 .gallery-item {
  width: 11.11%;
}
.gallery-col-10 .gallery-item {
  width: 10%;
}
.gallery-col-11 .gallery-item {
  width: 9.09%;
}
.gallery-col-12 .gallery-item {
  width: 8.33%;
}
.gallery-col-13 .gallery-item {
  width: 7.69%;
}
.gallery-col-14 .gallery-item {
  width: 7.14%;
}
.gallery-col-15 .gallery-item {
  width: 6.66%;
}
.gallery-col-16 .gallery-item {
  width: 6.25%;
}
.gallery-col-17 .gallery-item {
  width: 5.88%;
}
.gallery-col-18 .gallery-item {
  width: 5.55%;
}
.gallery-col-19 .gallery-item {
  width: 5.26%;
}
.gallery-col-20 .gallery-item {
  width: 5%;
}
.gallery-col-21 .gallery-item {
  width: 4.76%;
}
.gallery-col-22 .gallery-item {
  width: 4.54%;
}
.gallery-col-23 .gallery-item {
  width: 4.34%;
}
.gallery-col-24 .gallery-item {
  width: 4.16%;
}
.gallery-col-25 .gallery-item {
  width: 4%;
}
.gallery-col-26 .gallery-item {
  width: 3.84%;
}
.gallery-col-27 .gallery-item {
  width: 3.7%;
}
.gallery-col-28 .gallery-item {
  width: 3.57%;
}
.gallery-col-29 .gallery-item {
  width: 3.44%;
}
.gallery-col-30 .gallery-item {
  width: 3.33%;
}
/* End Extra */
/********************************************************************************************************
 * 3.0 Utilities
 *******************************************************************************************************/
/* Fullwidth  */
.u-full-width {
  width: 100% !important;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100% !important;
  box-sizing: border-box;
}
/* Float */
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
/* Text Align */
.ta-center {
  text-align: center;
}
.ta-left {
  text-align: left;
}
.ta-right {
  text-align: right;
}
/* Size & alignment */
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
.aligncenter,
img.center {
  display: block;
  margin: 1.5em auto;
}
.alignnone {
  margin-bottom: 1em;
}
.alignleft {
  float: left;
  margin: 0 2em 1.5em 0;
}
.alignright {
  float: right;
  margin: 0 0 1.5em 2em;
}
/* Padding */
.no-padding-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.no-padding-tb {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.no-margin-tb {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
/* Margin */
.small-mt {
  margin-top: 1rem;
}
.huge-mb {
  margin-bottom: 6rem;
}
.huge-mt {
  margin-top: 6rem;
}
.small-mb {
  margin-bottom: 1rem;
}
.no-mb {
  margin-bottom: 0 !important;
}
.fullgrid-margin {
  margin-left: 15px ;
  margin-right: 15px ;
}
.sb-font {
  font-weight: bold;
  font-size: 14px;
}
.no-bs {
  border-spacing: 0 !important;
}
.va-top {
  vertical-align: top;
}
.hide {
  padding: 0;
  margin: 0;
  position: absolute;
  left: -99999px;
}
/* Clear */
.cb {
  clear: both;
}
/* Display  */
.display-iblk {
  display: inline-block;
}
.display-blk {
  display: block;
}
/* Display: Table */
.my-table {
  display: table;
  border-collapse: separate;
  border-spacing: 10px;
}
.my-table .my-row {
  display: table-row;
}
.my-table .my-cell {
  display: table-cell;
}
.my-row {
  display: table-row;
}
.my-cell {
  display: table-cell;
}
/* Responsive Maps */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Image Mod */
/* Grayscale */
.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
/* Tinted Background / Overlay */
.tint {
  position: relative;
  cursor: pointer;
}
.tint:hover:before {
  background: none;
}
.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}
.tint.second:hover:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}
.tint.second:before {
  background: none;
}
/*  Size Auto */
.image-auto {
  width: auto !important;
  height: auto !important;
}
.width-auto {
  width: auto !important;
}
/* Bootstrap No Gutter */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
/*  Custom row padding */
.row.form-row {
  margin-right: 0.5rem;
  margin-left: 0;
}
.row.form-row > [class^="col-"],
.row.form-row > [class*=" col-"] {
  padding-right: 0.5rem;
  padding-left: 0;
}
/* Button Helper */
button.icon-left .fa,
.btn.icon-left .fa,
input[type="submit"].icon-left .fa,
input[type="reset"].icon-left .fa,
div.icon-left .fa {
  padding-right: 0.5rem;
}
button.icon-right .fa,
.btn.icon-right .fa,
input[type="submit"].icon-right .fa,
input[type="reset"].icon-right .fa,
div.icon-right .fa {
  padding-left: 0.5rem;
}
/* Form helpers */
/* enable absolute positioning */
.inner-addon {
  position: relative;
}
.inner-addon .glyphicon,
.inner-addon .fa {
  position: absolute;
  padding: 1.3rem 1rem;
  pointer-events: none;
}
.left-addon .glyphicon,
.left-addon .fa {
  left: 0px;
}
.left-addon input {
  padding-left: 30px;
}
.right-addon .glyphicon,
.right-addon .fa {
  right: 0px;
}
.right-addon input {
  padding-right: 30px;
}
.side-menu ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
.side-menu ul li {
  border-bottom: 1px solid #d1d1d1;
  padding: 10px 0;
}
.side-menu ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;
}
.side-menu ul li:hover:after {
  position: absolute;
  right: 40px;
  font-family: FontAwesome;
}
.side-menu ul li:last-child {
  border: 0;
}
/* Gallery */
/* Extra */
.wp-caption,
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
  text-align: center;
  line-height: 2rem;
  font-style: italic;
}
.entry-attachment {
  margin: 0em 0.5em;
  padding: 5px 0px 0px 6px;
}
.video-container + p {
  margin-top: 1.5em;
}
/* Format Text Class - Implement text styling on other places */
.format-text h1,
.format-text h2,
.format-text h3,
.format-text h4,
.format-text h5,
.format-text h6,
.format-text .h1,
.format-text .h2,
.format-text .h3,
.format-text .h4,
.format-text .h5,
.format-text .h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}
.format-text h1 small,
.format-text h2 small,
.format-text h3 small,
.format-text h4 small,
.format-text h5 small,
.format-text h6 small,
.format-text .h1 small,
.format-text .h2 small,
.format-text .h3 small,
.format-text .h4 small,
.format-text .h5 small,
.format-text .h6 small,
.format-text h1 .small,
.format-text h2 .small,
.format-text h3 .small,
.format-text h4 .small,
.format-text h5 .small,
.format-text h6 .small,
.format-text .h1 .small,
.format-text .h2 .small,
.format-text .h3 .small,
.format-text .h4 .small,
.format-text .h5 .small,
.format-text .h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #b4bcc2;
}
.format-text h1,
.format-text .h1,
.format-text h2,
.format-text .h2,
.format-text h3,
.format-text .h3 {
  margin-top: 21px;
  margin-bottom: 10.5px;
}
.format-text h1 small,
.format-text .h1 small,
.format-text h2 small,
.format-text .h2 small,
.format-text h3 small,
.format-text .h3 small,
.format-text h1 .small,
.format-text .h1 .small,
.format-text h2 .small,
.format-text .h2 .small,
.format-text h3 .small,
.format-text .h3 .small {
  font-size: 65%;
}
.format-text h4,
.format-text .h4,
.format-text h5,
.format-text .h5,
.format-text h6,
.format-text .h6 {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
}
.format-text h4 small,
.format-text .h4 small,
.format-text h5 small,
.format-text .h5 small,
.format-text h6 small,
.format-text .h6 small,
.format-text h4 .small,
.format-text .h4 .small,
.format-text h5 .small,
.format-text .h5 .small,
.format-text h6 .small,
.format-text .h6 .small {
  font-size: 75%;
}
.format-text h1,
.format-text .h1 {
  font-size: 39px;
}
.format-text h2,
.format-text .h2 {
  font-size: 32px;
}
.format-text h3,
.format-text .h3 {
  font-size: 26px;
}
.format-text h4,
.format-text .h4 {
  font-size: 19px;
}
.format-text h5,
.format-text .h5 {
  font-size: 15px;
}
.format-text h6,
.format-text .h6 {
  font-size: 13px;
}
.format-text p {
  margin: 0 0 10.5px;
}
.format-text .lead {
  margin-bottom: 21px;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .format-text .lead {
    font-size: 22.5px;
  }
}
.format-text small,
.format-text .small {
  font-size: 86%;
}
.format-text mark,
.format-text .mark {
  background-color: #f39c12;
  padding: .2em;
}
.format-text ul,
.format-text ol {
  list-style: disc;
  padding-left: 3rem;
  margin-top: 0;
  margin-bottom: 10.5px;
}
.format-text ul ul,
.format-text ol ul,
.format-text ul ol,
.format-text ol ol {
  margin-bottom: 0;
}
.format-text dl {
  margin-top: 0;
  margin-bottom: 21px;
}
.format-text dt,
.format-text dd {
  line-height: 1.42857143;
}
.format-text dt {
  font-weight: bold;
}
.format-text dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .format-text .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .format-text .dl-horizontal dd {
    margin-left: 180px;
  }
}
.format-text abbr[title],
.format-text abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #b4bcc2;
}
.format-text .initialism {
  font-size: 90%;
  text-transform: uppercase;
}
.format-text blockquote {
  padding: 10.5px 21px;
  margin: 0 0 21px;
  font-size: 18.75px;
  border-left: 5px solid #ecf0f1;
}
.format-text blockquote p:last-child,
.format-text blockquote ul:last-child,
.format-text blockquote ol:last-child {
  margin-bottom: 0;
}
.format-text blockquote footer,
.format-text blockquote small,
.format-text blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #b4bcc2;
}
.format-text blockquote footer:before,
.format-text blockquote small:before,
.format-text blockquote .small:before {
  content: '\2014 \00A0';
}
.format-text .blockquote-reverse,
.format-text blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #ecf0f1;
  border-left: 0;
  text-align: right;
}
.format-text .blockquote-reverse footer:before,
.format-text blockquote.pull-right footer:before,
.format-text .blockquote-reverse small:before,
.format-text blockquote.pull-right small:before,
.format-text .blockquote-reverse .small:before,
.format-text blockquote.pull-right .small:before {
  content: '';
}
.format-text .blockquote-reverse footer:after,
.format-text blockquote.pull-right footer:after,
.format-text .blockquote-reverse small:after,
.format-text blockquote.pull-right small:after,
.format-text .blockquote-reverse .small:after,
.format-text blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
.format-text address {
  margin-bottom: 21px;
  font-style: normal;
  line-height: 1.42857143;
}
/* Swag Box Shadow */
.shadow-standard-b {
  border: 1px solid #dddddd;
  box-shadow: 0px 10px 6px -6px #777777;
}
.shadow-flip-lrb {
  border: 1px solid #dddddd;
  position: relative;
}
.shadow-flip-lrb:before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  top: 160px;
  bottom: 15px;
  left: 10px;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  box-shadow: 0px 15px 10px #777777;
}
.shadow-flip-lrb:after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  top: 160px;
  right: 10px;
  bottom: 15px;
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  box-shadow: 0px 15px 10px #777777;
}
.shadow-flip-lb {
  border: 1px solid #dddddd;
  position: relative;
}
.shadow-flip-lb:before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  top: 160px;
  bottom: 15px;
  left: 10px;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  box-shadow: 0px 15px 10px #777777;
}
.shadow-flip-rb {
  border: 1px solid #dddddd;
  position: relative;
}
.shadow-flip-rb:after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  top: 160px;
  right: 10px;
  bottom: 15px;
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  box-shadow: 0px 15px 10px #777777;
}
.shadow-curved {
  border: 1px solid #dddddd;
  position: relative;
}
.shadow-curved:before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  top: 160px;
  bottom: 25px;
  left: 10px;
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
  box-shadow: 0px 35px 20px #777777;
}
.shadow-curved:after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  top: 160px;
  right: 10px;
  bottom: 25px;
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
  box-shadow: 0px 35px 20px #777777;
}
.shadow-subtle-b {
  border: 1px solid #dddddd;
  position: relative;
  box-shadow: 0px 1px 4px 0px #99a3ad, 0px 0px 40px #eeeeee;
}
.shadow-subtle-b:before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 80%;
  top: 100px;
  right: 10px;
  bottom: 0px;
  left: 10px;
  border-radius: 100px;
  box-shadow: 0px 0px 20px #2a2e31;
}
.shadow-subtle-b:after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 80%;
  top: 100px;
  right: 10px;
  bottom: 0px;
  border-radius: 100px;
  box-shadow: 0px 0px 20px #2a2e31;
}
.shadow-subtle-tb {
  border: 1px solid #dddddd;
  position: relative;
  box-shadow: 0px 1px 4px 0px #99a3ad, 0px 0px 40px #eeeeee;
}
.shadow-subtle-tb:before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 95%;
  top: 0px;
  right: 10px;
  bottom: 0px;
  left: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #2a2e31;
}
.shadow-subtle-tb:after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 95%;
  top: 0px;
  right: 10px;
  bottom: 0px;
  left: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #2a2e31;
}
.shadow-subtle-lr {
  border: 1px solid #dddddd;
  position: relative;
  box-shadow: 0px 1px 4px 0px #99a3ad, 0px 0px 40px #eeeeee;
}
.shadow-subtle-lr:before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 95%;
  top: 10px;
  right: 0px;
  bottom: 10px;
  left: 0px;
  border-radius: 0px;
  box-shadow: 0px 0px 20px #2a2e31;
}
.shadow-subtle-lr:after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 95%;
  top: 10px;
  right: 0px;
  bottom: 10px;
  border-radius: 0px;
  box-shadow: 0px 0px 20px #2a2e31;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.row {
  max-width: 1170px;
  margin: 0 auto;
}
body {
  background: #ffffff;
}
body.box .container-fluid,
body.frame .container-fluid {
  max-width: 1170px;
}
body.frame .main {
  margin: 3rem auto;
}
body.fluid .fullgrid-margin {
  margin-left: 0;
  margin-right: 0;
}
body.fluid .row {
  max-width: 1170px;
}
#wpadminbar {
  position: absolute;
}
/* Navbar */
.navbar {
  border: 0;
  margin-bottom: 0;
  min-height: initial;
}
.brand-title {
  margin: 0;
}
.navbar-default {
  background: #ff3814;
}
.navbar-default .navbar-brand {
  color: #fafafa;
  padding: 1rem;
  height: auto;
}
.navbar-default .navbar-toggle {
  color: #fafafa;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #fafafa;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-nav > .open > a {
  background: transparent;
  color: #fafafa;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background: transparent;
  color: #333333;
}
.navbar-default .navbar-nav > li > a {
  color: #fafafa;
  padding: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fafafa;
  background: #ffd700;
  color: #333333;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.navbar-default .navbar-nav > li a {
  padding: 1rem;
  color: #fafafa;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar-default .navbar-nav > li.active,
.navbar-default .navbar-nav > li.dropdown.open {
  background: #ffd700;
}
.navbar-default .navbar-nav > li.active a,
.navbar-default .navbar-nav > li.dropdown.open a {
  color: #fafafa;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar-default .navbar-nav > li.active a:hover,
.navbar-default .navbar-nav > li.dropdown.open a:hover {
  color: #333333;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.dropdown.open > a {
  color: #333333;
}
.navbar-default .caret {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
}
.primary-nav-menu {
  background: #ff3814;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1;
  margin: 0px auto 0 auto;
  width: 100%;
  z-index: 999;
}
.primary-nav-menu .dropdown-menu {
  padding: 0;
  border: 0;
  background: #ff3814;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0;
}
.primary-nav-menu .dropdown-menu > .active > a,
.primary-nav-menu .dropdown-menu > .active > a:hover,
.primary-nav-menu .dropdown-menu > .active > a:focus {
  background: #ffd700;
  color: #333333;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.primary-nav-menu .dropdown-menu > li > a {
  padding: 1rem;
}
.primary-nav-menu .dropdown-menu > li > a:hover,
.primary-nav-menu .dropdown-menu > li > a:focus {
  background: #ffd700;
  color: #333333;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.header {
  padding: 2rem 0;
}
.header .site-title {
  margin-top: 0;
  margin-bottom: 0;
}
.header .share-section .social {
  text-align: right;
}
.comments-wrapper {
  position: relative;
  background: #ffffff;
  margin-bottom: 2rem;
}
.comments-wrapper .comments-number-title {
  padding: 2rem 0;
  margin: 0;
}
.comments-wrapper ol,
.comments-wrapper ul {
  list-style: none;
}
.comments-wrapper ol li ol li:nth-child(odd),
.comments-wrapper ul li ol li:nth-child(odd),
.comments-wrapper ol li ol li:nth-child(even),
.comments-wrapper ul li ol li:nth-child(even) {
  background: transparent;
}
.comments-wrapper .comment-wrap {
  padding: 2rem 0;
  border-bottom: 1px dashed #dddddd;
}
.comments-wrapper .comment-wrap:before,
.comments-wrapper .comment-wrap:after {
  content: " ";
  display: table;
}
.comments-wrapper .comment-wrap:after {
  clear: both;
}
.comments-wrapper .comment-wrap .comment-content ul,
.comments-wrapper .comment-wrap .comment-content ol {
  list-style: initial;
}
.comments-wrapper .comment-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.comments-wrapper .comment-list .comment-avatar {
  padding-right: 2rem;
}
.comments-wrapper .comment-list .comment-author {
  font-size: 2rem;
  font-weight: 700;
}
.comments-wrapper .comment-list .published {
  font-weight: 600;
}
.comments-wrapper .comment-list .comment-reply-link {
  /* padding: 0.5rem 3.5rem;
			&:extend(.primary-bg);
			color: @white;
			position: relative;
			
			&:before{
				font-family: @font-awesome;
				position: absolute;
				left: 1.5rem;
				content: '\f086';
			} */
}
.comment-respond {
  padding: 2rem 0;
  margin-bottom: 2rem;
  background: #ffffff;
}
.comment-respond .comment-reply-title {
  margin: 0 0 2rem 0;
}
.comment-navigation {
  margin-top: 1rem;
}
main.content {
  margin-top: 3rem;
}
.sticky {
  background-color: wheat !important;
  border: 2px dashed #946b1e !important;
  padding: 1.5rem !important;
}
.entry {
  background: #ffffff;
  padding: 1rem 0;
  margin: 0 0 2rem 0;
  position: relative;
  z-index: 0;
  border-bottom: 1px dashed #ddd;
}
.entry .featured {
  margin-bottom: 2rem;
}
.entry .featured img {
  width: 100%;
  height: auto;
}
.entry .entry-title {
  margin-top: 0;
  margin-bottom: 1rem;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.entry .readmore {
  margin-bottom: 1rem;
}
.entry.format-status p {
  margin-top: 2rem;
}
.entry.format-link .entry-title {
  position: relative;
  padding-left: 4rem;
}
.entry.format-link .entry-title:before {
  position: absolute;
  left: 0;
  top: 0;
  font-family: FontAwesome;
  content: "\f0c1";
}
.blog-post-meta {
  word-break: break-all;
}
.primary-sidebar {
  border-left: 1px solid #d1d1d1;
}
.footer-wrapper {
  background: #708090;
  margin-top: 3rem;
}
.footer-wrapper .widget {
  background: transparent;
}
.footer-wrapper .widget * {
  color: #dddddd;
}
.copyright-wrapper {
  background: #ff6347;
}
.copyright-wrapper p {
  color: #dddddd;
  margin: 1rem 3rem;
}
.copyright-wrapper a {
  text-decoration: underline;
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .entry-wrapper.first {
    padding-right: 15px !important;
  }
  .entry-wrapper.not-found {
    padding: 0 !important;
  }
  .sidebar.last {
    padding-left: 15px !important;
  }
  /* Bootstrap Padding Hack */
  .first {
    padding-left: 0 !important;
    padding-right: 30px !important;
  }
  .mid {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .last {
    padding-left: 30px !important;
    padding-right: 0 !important;
  }
}
/* iPads (portrait and landscape) ----------- */
/* Tablet */
/* Small Tablet */
/* Mobile */
/* Remove on release */
.right-arrow {
  background: wheat;
  position: relative;
  padding: 1rem;
}
.right-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  -moz-transform: scale(0.9999);
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-left: 2rem solid #f5deb3;
  position: absolute;
  right: -2rem;
  top: 0;
}
.left-flag {
  /* general styles for all elements */
  position: relative;
  background: #87ceeb;
  height: 3rem;
}
.left-flag:before,
.left-flag:after {
  border-style: solid;
  height: 0;
  width: 0;
  display: block;
  content: "";
  position: absolute;
  border-color: #87ceeb transparent;
  top: 0;
}
.left-flag:before {
  left: -1.5rem;
  border-width: 1.5rem 0 1.5rem 1.5rem;
}
.right-flag {
  /* general styles for all elements */
  position: relative;
  background: #00ff00;
  height: 3rem;
}
.right-flag:before,
.right-flag:after {
  border-style: solid;
  height: 0;
  width: 0;
  display: block;
  content: "";
  position: absolute;
  border-color: #00ff00 transparent;
  top: 0;
}
.right-flag:after {
  right: -1.5rem;
  border-width: 1.5rem 1.5rem 1.5rem 0;
}
.left-right-flag {
  /* general styles for all elements */
  position: relative;
  background: #008080;
  height: 3rem;
}
.left-right-flag:before,
.left-right-flag:after {
  border-style: solid;
  height: 0;
  width: 0;
  display: block;
  content: "";
  position: absolute;
  border-color: #008080 transparent;
  top: 0;
}
.left-right-flag:before {
  left: -1.5rem;
  border-width: 1.5rem 0 1.5rem 1.5rem;
}
.left-right-flag:after {
  right: -1.5rem;
  border-width: 1.5rem 1.5rem 1.5rem 0;
}
.up-flag {
  /* general styles for all elements */
  position: relative;
  background: #6a5acd;
  width: 3rem;
}
.up-flag:before {
  border-style: solid;
  height: 0;
  width: 0;
  display: block;
  content: "";
  position: absolute;
  border-color: transparent #6a5acd;
  left: 0;
}
.up-flag:before {
  bottom: -1.5rem;
  border-width: 0 1.5rem 1.5rem 1.5rem;
}
.down-flag {
  /* general styles for all elements */
  position: relative;
  background: #dc143c;
  width: 3rem;
}
.down-flag:before {
  border-style: solid;
  height: 0;
  width: 0;
  display: block;
  content: "";
  position: absolute;
  border-color: transparent #dc143c;
  left: 0;
}
.down-flag:before {
  bottom: -1.5rem;
  border-width: 0 1.5rem 1.5rem 1.5rem;
}
.up-down-flag {
  /* general styles for all elements */
  position: relative;
  background: #fa8072;
  width: 3rem;
}
.up-down-flag:before,
.up-down-flag:after {
  border-style: solid;
  height: 0;
  width: 0;
  display: block;
  content: "";
  position: absolute;
  border-color: transparent #fa8072;
  left: 0;
}
.up-down-flag:before {
  top: -1.5rem;
  border-width: 1.5rem 1.5rem 0 1.5rem;
}
.up-down-flag:after {
  bottom: -1.5rem;
  border-width: 0 1.5rem 1.5rem 1.5rem;
}
.test-box {
  width: 300px;
  height: 200px;
  background: #f7f7f7;
  padding: 2rem;
  margin: 2rem;
}
.test-box:hover {
  background: #ddd;
  -webkit-transition: all 0s ease-in;
  -moz-transition: all 0s ease-in;
  -o-transition: all 0s ease-in;
  transition: all 0s ease-in;
  -webkit-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
