/* BASIC COLOR */
/* Main Theme Color */
/* Element Color: */
/* Font Family */
/* Font weight */
.mirror-flip {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
/* Arrow Flag  */
/* Traingle mixin for arrow button */
/* Primary */
.primary-bg,
.countdown-timer > div:hover,
.pricing-block.featured-price,
.pricing-block.featured-price .btn:hover,
.blog-block.style-charlie .image-caption {
  background: #ff6347;
}
.primary-bg-hover {
  background: #ff8e7a;
}
.primary-color,
.side-menu ul li a:hover,
.side-menu ul li:hover:after,
.pricing-block .checked-options:after,
.pricing-block.featured-price .btn {
  color: #ff6347;
}
.primary-color-hover {
  color: #ff8e7a;
}
.primary-border {
  border-color: #ff6347;
}
.primary-border-hover {
  border-color: #ff3814;
}
.primary-border-bottom {
  border-bottom-color: #ff6347;
}
.primary-border-left {
  border-left-color: #ff6347;
}
/* Secondary */
.secondary-bg,
.countdown-timer > div {
  background: #6a5acd;
}
.secondary-color {
  color: #6a5acd;
}
.secondary-border {
  border-color: #6a5acd;
}
/* Tertiary */
.tertiary-bg {
  background: #ffd700;
}
.tertiary-color {
  color: #ffd700;
}
/* Header BG */
/* Body BG */
.body-bg {
  background: #ffffff;
}
/********************************************************************************************************
 * 3.0 Utilities
 *******************************************************************************************************/
/* Fullwidth  */
.u-full-width {
  width: 100% !important;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100% !important;
  box-sizing: border-box;
}
/* Float */
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
/* Text Align */
.ta-center {
  text-align: center;
}
.ta-left {
  text-align: left;
}
.ta-right {
  text-align: right;
}
/* Size & alignment */
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
.aligncenter,
img.center {
  display: block;
  margin: 1.5em auto;
}
.alignnone {
  margin-bottom: 1em;
}
.alignleft {
  float: left;
  margin: 0 2em 1.5em 0;
}
.alignright {
  float: right;
  margin: 0 0 1.5em 2em;
}
/* Padding */
.no-padding-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.no-padding-tb {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.no-margin-tb {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
/* Margin */
.small-mt {
  margin-top: 1rem;
}
.huge-mb {
  margin-bottom: 6rem;
}
.huge-mt {
  margin-top: 6rem;
}
.small-mb {
  margin-bottom: 1rem;
}
.no-mb {
  margin-bottom: 0 !important;
}
.fullgrid-margin {
  margin-left: 15px ;
  margin-right: 15px ;
}
.sb-font {
  font-weight: bold;
  font-size: 14px;
}
.no-bs {
  border-spacing: 0 !important;
}
.va-top {
  vertical-align: top;
}
.hide {
  padding: 0;
  margin: 0;
  position: absolute;
  left: -99999px;
}
/* Clear */
.cb {
  clear: both;
}
/* Display  */
.display-iblk {
  display: inline-block;
}
.display-blk {
  display: block;
}
/* Display: Table */
.my-table {
  display: table;
  border-collapse: separate;
  border-spacing: 10px;
}
.my-table .my-row {
  display: table-row;
}
.my-table .my-cell {
  display: table-cell;
}
.my-row {
  display: table-row;
}
.my-cell {
  display: table-cell;
}
/* Responsive Maps */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Image Mod */
/* Grayscale */
.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
/* Tinted Background / Overlay */
.tint {
  position: relative;
  cursor: pointer;
}
.tint:hover:before {
  background: none;
}
.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}
.tint.second:hover:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}
.tint.second:before {
  background: none;
}
/*  Size Auto */
.image-auto {
  width: auto !important;
  height: auto !important;
}
.width-auto {
  width: auto !important;
}
/* Bootstrap No Gutter */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
/*  Custom row padding */
.row.form-row {
  margin-right: 0.5rem;
  margin-left: 0;
}
.row.form-row > [class^="col-"],
.row.form-row > [class*=" col-"] {
  padding-right: 0.5rem;
  padding-left: 0;
}
/* Button Helper */
button.icon-left .fa,
.btn.icon-left .fa,
input[type="submit"].icon-left .fa,
input[type="reset"].icon-left .fa,
div.icon-left .fa {
  padding-right: 0.5rem;
}
button.icon-right .fa,
.btn.icon-right .fa,
input[type="submit"].icon-right .fa,
input[type="reset"].icon-right .fa,
div.icon-right .fa {
  padding-left: 0.5rem;
}
/* Form helpers */
/* enable absolute positioning */
.inner-addon {
  position: relative;
}
.inner-addon .glyphicon,
.inner-addon .fa {
  position: absolute;
  padding: 1.3rem 1rem;
  pointer-events: none;
}
.left-addon .glyphicon,
.left-addon .fa {
  left: 0px;
}
.left-addon input {
  padding-left: 30px;
}
.right-addon .glyphicon,
.right-addon .fa {
  right: 0px;
}
.right-addon input {
  padding-right: 30px;
}
.side-menu ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
.side-menu ul li {
  border-bottom: 1px solid #d1d1d1;
  padding: 10px 0;
}
.side-menu ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;
}
.side-menu ul li:hover:after {
  position: absolute;
  right: 40px;
  font-family: FontAwesome;
}
.side-menu ul li:last-child {
  border: 0;
}
/* Gallery */
/* Extra */
.wp-caption,
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
  text-align: center;
  line-height: 2rem;
  font-style: italic;
}
.entry-attachment {
  margin: 0em 0.5em;
  padding: 5px 0px 0px 6px;
}
.video-container + p {
  margin-top: 1.5em;
}
/* Blocks */
.block {
  background: #ffffff;
  padding: 2rem;
  margin: 0 0 2rem 0;
}
.block .block-title {
  margin-top: 0;
  margin-bottom: 2rem;
}
.row-title {
  margin-left: 15px ;
  margin-right: 15px ;
  margin-top: 0;
}
/* Countdown */
.countdown-block {
  text-align: center;
}
.countdown-block .content {
  margin-bottom: 2rem;
}
.countdown-timer > div {
  display: inline-block;
  color: #ffffff;
  padding: 1.5rem 1rem;
  width: 100px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.countdown-timer > div label {
  font-size: 1.3rem;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: normal;
}
/* Pricing block */
.pricing-style-beta {
  margin: 0 2rem 2rem 2rem;
}
.pricing-style-beta > [class^="col-"],
.pricing-style-beta > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.pricing-style-beta .row-title {
  margin: 0 0 5rem 0;
}
.pricing-style-beta .featured-this {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  z-index: 1;
}
.pricing-style-beta .unfeatured-next-close .pricing-block {
  padding-left: 4rem;
}
.pricing-style-beta .unfeatured-prev-close .pricing-block {
  padding-right: 4rem;
}
.pricing-block .money-wrapper .money,
.pricing-block .money-wrapper .detail {
  display: inline-block;
}
.pricing-block .money-wrapper .money {
  font-size: 5rem;
  font-weight: 600;
  margin-top: 0;
}
.pricing-block .money-wrapper .currency,
.pricing-block .money-wrapper .thousand {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
}
.pricing-block .title {
  margin-bottom: 1rem;
}
.pricing-block .price-tagline {
  margin-top: 0;
  margin-bottom: 1rem;
}
.pricing-block .content.side-menu ul li {
  position: relative;
}
.pricing-block .checked-feature {
  position: absolute;
  right: 0;
  font-family: FontAwesome;
  font-size: 2rem;
}
.pricing-block .checked-options:after {
  position: absolute;
  right: 0;
  font-family: FontAwesome;
  font-size: 2rem;
  content: '\f058';
}
.pricing-block .checked-options:hover:after {
  content: '\f058';
  right: 0;
}
.pricing-block .unchecked-options:after {
  position: absolute;
  right: 0;
  font-family: FontAwesome;
  font-size: 2rem;
  color: #d1d1d1;
  content: '\f057';
}
.pricing-block .unchecked-options:hover:after {
  content: '\f057';
  right: 0;
}
.pricing-block.featured-price * {
  color: #ffffff;
}
.pricing-block.featured-price .checked-options:after {
  color: #ffffff;
}
.pricing-block.featured-price .unchecked-options:after {
  color: #ffffff;
}
.pricing-block.featured-price .btn {
  background: #ffffff;
  border-color: #ffffff;
}
.pricing-block.featured-price .btn:hover {
  color: #ffffff;
}
/* Blog */
.blog-block {
  padding: 0;
}
.blog-block img {
  width: 100% !important;
  height: auto;
}
.blog-block.style-alpha .featured {
  margin-bottom: 2rem;
}
.blog-block.style-beta header {
  padding: 0rem 2rem 0 2rem;
}
.blog-block.style-beta .blog-title {
  font-size: 2rem;
  margin-top: 0;
}
.blog-block.style-beta .featured {
  float: left;
  margin: 0 2em 1.5em 0;
}
.blog-block.style-charlie .featured {
  margin-bottom: 2rem;
  position: relative;
}
.blog-block.style-charlie .image-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80%;
  border-radius: 0px 200px 0px 0px;
  padding-left: 2rem;
}
.blog-block.style-charlie .image-caption,
.blog-block.style-charlie .label {
  text-align: left;
  margin: 0;
  color: #ffffff;
}
.blog-block.style-charlie footer .btn {
  margin-bottom: 2rem;
}
.blog-block header,
.blog-block .content {
  padding: 0 2rem 2rem 2rem;
}
.blog-block .title {
  margin-bottom: 1rem;
}
/* Testimony */
.testimony-block .testimony-profession {
  font-weight: 600;
}
/* Testimonies (Slider) */
.testimonies-block .flexslider {
  margin-bottom: 2rem;
  margin-right: 15px;
  margin-left: 15px;
}
.testimonies-block .testimony-block .featured img {
  float: left;
  margin-right: 2rem;
}
/* Flexslider */
