@import "../dependencies/variables.less";
@import "../components/navbar.less";

.header{
	&:extend(.tertiary-bg);
	padding: 2rem 0;
	.site-title{
		margin-top: 0;
		margin-bottom: 0;
	}

	.share-section{
		.social{
			text-align: right;
		}
	}
}