@import "../dependencies/variables.less";
// Breadcrumbs
.breadcrumbs{
	background: @main-bg;
	padding: 0;
	margin: 0 0 2rem 0;
}

/* Main Pagination */
.pagination-wrapper{
	background: @main-bg;
	.pagination{
		margin: 0;
	} 

	a, span{
		padding: 0 0.5rem;
	}
}

/* Custom Flexslider */
.flexslider-carousel{ 
	margin-bottom: 2rem;
	.slides > li{
		padding: 0 1rem;
	}
}

/* Post Navigation */

.loop-nav{
	background: @main-bg;
	padding: 1.5rem;
	margin: 0;
}

.post-pagination{
	margin-top: 2rem;
}

.bottom-entry-nav{
	.prev, .next{
		-ms-word-wrap: break-word;
		word-wrap: break-word;
	  	word-break: break-all;
	}
}