@import "../dependencies/variables.less";

/* Image
–––––––––––––––––––––––––––––––––––––––––––––––––– */
img.center {
   display: block;
   margin-right: 0;
   margin-left: 0;
}

img{
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

/* Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */
p, span, a, li{
	// line-height: 2.8rem;
	// font-family: @text-font;

}

p, span, li{
	// color: @main-text-color;
}

h1, h2, h3, h4, h5, h6{
	// font-family: @font-gesta-medium;
}

/* Font awesome */
.fa{
	font-family: @font-awesome;
}

a{
	&:extend(.secondary-color);
	&:hover{
		&:extend(.primary-color);
	}
}

/* Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Form 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
  margin-bottom: 1rem;
}

/* Table 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table{
	.table;
}

/* Jquery Block: Spinner */
.blockUI.blockMsg.blockElement{
	background-color: transparent !important;
	border: 0 !important;
	border-color: transparent !important;
	
	.spinner{
		&:extend(.primary-color);
		font-size: 6rem;
	}
}
